html,
body {
  height: 100%;
}

.bg-light {
  background-color: #f4f4f4 !important;
}

.jumbotron {
  color: white;
  min-height: 100%;
  background-color: ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.btn-light {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  height: 65px;
  width: 26%;
  margin-right: .4em;
}

.btn-outline-light {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  height: 65px;
  width: 26%;
  margin-left: .4em;
  color: #38a1f4;
  border-color: #38a1f4;
  border-width: 2px;
  min-width:
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #38a1f4;
}

.navbar-light .navbar-brand:hover {
  color: #38a1f4;
}

.btn-light:hover,
.btn-light:focus {
  color: white !important;
  border-color: transparent;
  background-color: #38a1f4;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
  color: white !important;
  border-color: #38a1f4;
  background-color: #38a1f4 !important;
}

.btn-secondary:hover {
  border-color: transparent !important;
  background-color: #38a1f4;
}

h1 {
  font-size: 5.5em;
  margin-top: 0;
  margin-bottom: 1em;
  color: #282828;
}

p {
  font-size: 2em;
}

.logo-stroke {
  padding-top: 0.3em;
  -webkit-text-stroke: 7px #fff;
  -webkit-text-fill-color: #38a1f4;
}