html,
body {
  height: 100%;
}

.bg-light {
  background-color: #f4f4f4 !important;
}

.jumbotron {
  color: white;
  min-height: 100%;
  background-image: url('./hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

.btn-light {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  height: 65px;
  width: 15%;
  margin-right: .4em;
  margin-left: .4em;
  color: rgb(60, 60, 60);
}

.btn-outline-light {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  height: 65px;
  width: 15%;
  margin-right: .4em;
  margin-left: .4em;
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #38a1f4;
}

.navbar-light .navbar-brand:hover {
  color: #38a1f4;
}

.btn-light:hover,
.btn-light:focus {
  color: white !important;
  border-color: transparent;
  background-color: #38a1f4;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
  color: white !important;
  border-color: #38a1f4;
  background-color: #38a1f4 !important;
}

.btn-secondary:hover {
  border-color: transparent !important;
  background-color: #38a1f4;
}

h1,
p,
.navbar-brand,
.navbar-nav a {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 6em;
  margin-top: 0;
  margin-bottom: 1em;
}

p {
  font-size: 2em;
}

.main-container {
  background-color: #fff;
}

.custom-card {
  padding: 4em;
  background-color: rgb(242, 242, 242);
}

.logo-stroke {
  padding-top: 0.3em;
  -webkit-text-stroke: 7px #fff;
  -webkit-text-fill-color: #38a1f4;
}